<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body ng-app="myApp">
        <div ng-controller="HelloController">
        {{ helloMessage }}
            <div ng-repeat="t in tab">
                <p>{{t}}</p>
            </div>
            <button ng-click="afficher()" ng-show="show">Afficher</button>
        </div>
    </body>
    <foot>
        <script src="angular.min.js"></script>
        <script src="controller.js"></script>
    </foot>
</html>
